<!doctype html>
<html>
    <head>
            <meta charset="UTF-8">
            <title>Text analyzer</title>
    </head>
    <body>
    <h1>Welcome to the text Analyser</h1>
    <h2>Enter your text below</h2>
    <form action='analyzer/'>
        <textarea style='margin: 0px; width: 1437px; height: 521px;'name='text'></textarea></br>
        <input type="checkbox" name='rmvpnc'>Remove Punctuations</br>
        <input type="checkbox" name='rmvspc'>Remove Extra Space</br>
        <input type="checkbox" name='cap'>Capitalize</br>
        <input type="checkbox" name='count'>Count Total Characters</br>

        <button type="submit">Analyze my text</button>
    </form>
    </body>
</html>